on: ["push", "pull_request"]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

name: Test

concurrency:
  # Cancel older, in-progress jobs from the same PR, same workflow.
  # use run_id if the job is triggered by a push to ensure
  # push-triggered jobs to not get canceled.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
    linting:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v5

        - name: Setup Python
          uses: astral-sh/setup-uv@v7
          with:
              python-version: "3.10"

        - name: Run Ruff Lint
          run: uv run --group lint ruff check .

        - name: Run Ruff Format
          run: uv run --group lint ruff format --check .

        - name: Run mdformat
          run: uv run --group lint mdformat --check *.md

    type-check:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v5

        - name: Setup Python
          uses: astral-sh/setup-uv@v7
          with:
              python-version: "3.10"

        - name: Run MyPy
          run: uv run --group lint --group test mypy .

    functional:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]   # eventually add `windows-latest`
                python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        steps:
        - uses: actions/checkout@v5

        - name: Setup Python
          uses: astral-sh/setup-uv@v7
          with:
              python-version: ${{ matrix.python-version }}

        - name: Install Geth
          uses: ApeWorX/geth-action@v1

        - name: Run Tests
          run: uv run --group test ape test -k "not test_coverage" -n 0 -s

        # Since --cov does not play nicely with --coverage (low-level tracer issues),
        #  we have to run the tests separately.
        - name: Run Coverage Tests
          run: uv run --group test ape test -k test_coverage --no-cov -n 0 -s
